@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Montserrat&display=swap');

:root {
  --highlight-color: #f4cf81;
}

body {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;

  font-family: Montserrat, sans-serif;
  font-size: 20px;
  text-align: center;

  background-image: url('/images/bg-2.jpeg');
  background-size: cover;
}

#sun {
  max-width: 320px;
  margin-bottom: 20px;
}

h1 {
  margin: 0 0 2rem;
  border-color: var(--highlight-color);
  font-family: 'Glass Antiqua';
}

.button {
  display: inline-block;
  border: solid;
  padding: 1rem 2rem;
  background-color: var(--highlight-color);
  border: none;
  text-decoration: none;
  border-radius: 0.5rem;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: black;
}

p {
  margin: 2rem auto;
  max-width: 50ch;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
  gap: 1rem;
}

img {
  max-width: 100%;
}

hr {
  margin: 3rem 0;
  border-color: var(--highlight-color);
  border-style: solid;
}